.custom-font {
    font-family: 'Finlandica', sans-serif;
}

ion-toolbar {
    --background: transparent;

    ion-title {
        padding: 24px 0 24px 0;
        font-weight: 900;
    }
}

ion-content {
    --background: var(--ion-color-platinum);

    .back-blob {
        z-index: -1;
        width: 600px;
        position: absolute;
        left: -50%;
        top: 0;
    }
}

ion-select {
    width: 100%;
}

#form-pro {
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.item-form {
    border-radius: 10px;
}