<app-header titulo="Mis Solicitudes"></app-header>

<ion-content>

  <div class="main-header"></div>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-label>
          <ion-text color="platinum" class="ion-margin-start ion-text-wrap">
            Monto Preaprobado
          </ion-text>
          <p>
            <ion-chip color="lightgray">
              <ion-label class="ion-text-wrap" color="platinum">
                $ {{montoGeneral | number : '1.2-2'}}
              </ion-label>
            </ion-chip>
          </p>
        </ion-label>
      </ion-col>
      <ion-col size="6" class="ion-text-end">
        <ion-button color="platinum" size="small" routerLink="/loans">
          <span>Añadir más</span>
          <ion-icon name="add" color="primary" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <div class="ion-margin-top"><br></div>
    <ion-list>
      <ion-item lines="none" *ngFor="let item of loans">
        <ion-label size="large" class="ion-text-wrap">
          <b>Préstamo por {{item.prestamo}}</b>
          <p>
            <ion-text style="font-size: 1.33em;" color="primary">Valor de cada cuota: {{item?.cuotaPago | currency: 'USD'}}</ion-text><br>
            Interes Anual: {{item?.interes | number : '1.2-2'}} % <br>
            Num Cuotas: {{item?.numCuotas}} con frecuencia de pago: {{item?.frecuencia}} <br>
            <ion-text>
              Estado: 
            <ng-container class="ion-margin-top ion-align-self-center">
              <ion-badge *ngIf="item?.estado == 'P'" color="medium">Pendiente</ion-badge>
              <ion-badge *ngIf="item?.estado == 'A'" color="success">Aprobado</ion-badge>
              <ion-badge *ngIf="item?.estado == 'R'" color="danger">Rechazado</ion-badge>
            </ng-container>
            </ion-text> 
            
          </p>
        </ion-label>
        <ion-text slot="end" color="nigth">{{item.monto | currency: 'USD'}}</ion-text>
      </ion-item>
    </ion-list>
  </ion-grid>
  
</ion-content>
