<app-header titulo="Mis Solicitudes"></app-header>

<ion-content>

  <div class="main-header"></div>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-label>
          <ion-text color="platinum" class="ion-margin-start">
            Monto General
          </ion-text>
          <p>
            <ion-chip color="lightgray">
              <ion-label class="ion-text-wrap">
                $ {{montoGeneral | number : '1.2-2'}}
              </ion-label>
            </ion-chip>
          </p>
        </ion-label>
      </ion-col>
      <ion-col size="6" class="ion-text-end">
        <ion-button color="platinum" size="small">
          <span>Añadir más</span>
          <ion-icon name="add" color="primary" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <div class="ion-margin-top"><br></div>
    <ion-list>
      <!-- <ion-list-header>
        <ion-label>RECENT TRANSACTIONS</ion-label>
      </ion-list-header> -->
      <ion-item lines="none" *ngFor="let item of loans">
        <!-- <ion-icon slot="start" name="cash" color="primary"></ion-icon> -->
        <ion-label size="large" class="ion-text-wrap">
          <b>Préstamo por {{item.prestamo}}</b>
          <p>
            <ion-text style="font-size: 1.33em;" color="primary">Valor de cada cuota: {{item?.cuotaPago | currency: 'USD'}}</ion-text><br>
            Interes Anual: {{item?.interes | number : '1.2-2'}} % <br>
            Num Cuotas: {{item?.numCuotas}} con frecuencia de pago: {{item?.frecuencia}} <br>
          </p>
        </ion-label>
        <ion-text slot="end" color="nigth">{{item.monto | currency: 'USD'}}</ion-text>
      </ion-item>
    </ion-list>
  </ion-grid>
  
</ion-content>
