<ion-header class="ion-no-border">
  <ion-toolbar color="night">
    <ion-title class="ion-margin-start ion-align-self-center">FCME  APP</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false" menu="primerMenu">
        <ion-icon name="ellipsis-vertical" size="large" color="lightgray"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-client></app-client>
  <!-- <app-admin></app-admin> -->
</ion-content>