ion-content {
    --background: var(--ion-color-platinum);
}

ion-list {
    --ion-background-color: var(--ion-color-platinum) !important;
}

.card {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

ion-select {
    width: 100%;
}